
<div class = "window">
  <h1 class = "title">Jeu des 7 différences</h1>
  <h1>Bienvenue {{username}} !</h1>
  <h2>Met à jour ton identifiant:</h2>
  <mat-form-field>
      <input matInput #message type ="text" placeholder="Identifiant" maxlength="12" style="min-width: 250px" [(ngModel)]="newUsername" required>
      <mat-hint align="start"><strong>4 à 12 caractères</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}}/12</mat-hint>
      <button mat-button *ngIf="newUsername" matSuffix mat-icon-button aria-label="Clear" (click)="newUsername=''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <h3 style='color:red'>{{errorMessage}}</h3>
  <nav>
    <button mat-raised-button color="primary" class="button" (click)="updateUsername()">Commencer</button>
  </nav>
</div>
