.window{
    width: 700px;
    margin: auto;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 25px;
    background-color:lightblue;
    padding: 30px;
    border-style: solid;
}

.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.title{
    color: darkblue;
    text-align: center;
}

.button{
    background-color: darkblue;
    color: white;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 12px;
}