.window{
    width: 700px;
    margin: auto;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 25px;
    background-color:lightblue;
    padding: 30px;
    border-style: solid;
}

input{
    padding: 15px;
    align-self: center;
    width: 150px;
    border-radius: 14px;
}

.title{
    color: darkblue;
    text-align: center;
}

.button{
    background-color: darkblue;
    color: white;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 12px;
}