.eventNotif {
  min-width: 100%;
  width: 100%;
  height: 615px;
  border: 1px rgb(194, 185, 185) solid;
  border-radius: 15px;
  padding: 5px;
}

.chatContainer {
  max-height: 575px;
  overflow: auto;
  padding: 10px;
}

.chat-message {
  font-family: Orbitron, serif;
  color: white;
}

.message-list-item{
  height: 20px !important;
}
