.gameList {
   display: flex;
   flex-direction: row;
   padding-top: 79px;
}

.bottomright {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
  height: 100%;
  object-fit: contain;
}

.window {
   width: 50%;
   margin-left: 9.2%;
   top: 0;
   min-height: 480px;
 }

.title{
  background-color: #373745;
  width: 50%;
  height: 80px;
  color: white;
  display: inline-block;
  font-size: 25px;
  border: 3px #272731 solid;
  border-radius: 7px;
}

.game:hover{
  cursor: default;
}

.popup{
  position: fixed;
  width: 100%;
  z-index: 10;
}

