.gameList {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-top: 72px;
}

.window {
    width: 800px;
    top: 0;
    min-height: 600px;
}

h1 {
    color: white;
    margin-left: 40px;
}

.game{
  background-color: #373745;
  width: 50%;
  height: 75px;
  color: white;
  display: inline-block;
  font-size: 25px;
  border: 3px #272731 solid;
  border-radius: 7px;
}

.game:hover{
  cursor: default;
}

.popup{
  margin-top: 10px;
  position: fixed;
  width: 100%;
  background-color: grey;
  z-index: 10;
}

