<div class="popup">
  <button mat-raised-button class="title">Parties Simples</button>
  <button mat-raised-button class="title">Parties Libres</button>
</div>
<div class= "gameList">
    <div class= "window">
        <app-game *ngFor="let instance of gameService.simpleGames" 
            [gameName]= "instance.gameName"
            [originalImage]= "instance.originalImage"
            [modifiedImage]= "instance.modifiedImage"
            [bestSoloTimes]= "instance.bestSoloTimes"
            [bestMultiTimes]= "instance.bestMultiTimes"
            [rightButton]= "rightButton"
            [leftButton]= "leftButton"
            [isSimpleGame]= true class="appGame">
        </app-game>
    </div>
    <div class="window">
        <app-game *ngFor= "let instance of gameService.extendedFreeGames" 
            [gameName]= "instance.gameName"
            [bestSoloTimes]= "instance.bestSoloTimes"
            [bestMultiTimes]= "instance.bestMultiTimes"
            [rightButton]= "rightButton"
            [leftButton]= "leftButton"
            [isSimpleGame]= false
            [thumbnail]= "instance.thumbnail">
        </app-game>
    </div>
</div>




