<div class= "gameList">
    <div class= "window">
        <h1>Parties Simples</h1>
        <app-game *ngFor="let instance of gameService.simpleGames" 
            [gameName]= "instance.gameName"
            [originalImage]= "instance.originalImage"
            [modifiedImage]= "instance.modifiedImage"
            [bestSoloTimes]= "instance.bestSoloTimes"
            [bestMultiTimes]= "instance.bestMultiTimes"
            [rightButton]= "rightButton"
            [leftButton]= "leftButton"
            [isSimpleGame]= true>
        </app-game>
    </div>
    <div class="window">
        <h1>Parties Libres</h1>
        <app-game *ngFor= "let instance of gameService.extendedFreeGames" 
            [gameName]= "instance.gameName"
            [bestSoloTimes]= "instance.bestSoloTimes"
            [bestMultiTimes]= "instance.bestMultiTimes"
            [rightButton]= "rightButton"
            [leftButton]= "leftButton"
            [isSimpleGame]= false
            [thumbnail]= "instance.thumbnail">
        </app-game>
    </div>
</div>




