body {
  font-family: Orbitron, serif;
  background-color: rgb(65, 62, 62);
  color:white;
}

.centered {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.scene {
  height: 480px;
  width: 640px;
  border: 5px rgb(194, 185, 185) solid;
}

.middleText {
  margin-top: 7%;
  text-align: center;
  font-size: 35px;
}

.timer {
  color: rgb(243, 44, 44);
  font-size: 60px;
  padding-left: 22%;
}
.disabled {
  cursor: not-allowed;
}
#originalCanvasMessage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
#modifiedCanvasMessage {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
