<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<body appFPControlEvent (contextmenu)="onRightClick($event)">
  <div class="separation">
    <div class="leftWindow">
      <canvas id="endGameMessage"></canvas>
      <h1 class = "centered">{{gameName}}</h1>
      <div class="timer"><app-timer [gameName] = "gameName"
                                    [isSimpleGame] = "isSimpleGame"></app-timer></div>
      <div class = "row" [class.disabled]="!cursorEnabled">
        <div>
          <div class= "scene" (click)="onDivContClick($event)" #originalView>
            <canvas id="originalCanvasMessage"></canvas>
          </div>
        </div>
        <div>
          <div class= "scene" (click)="onDivContClick($event)" #modifiedView>
            <canvas id="modifiedCanvasMessage"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <app-message-box></app-message-box>
    </div>
  </div>
</body>
