.general {
  font-family: Orbitron, serif;
  color:white;
}

.separation{
  display: flex;
  flex-direction: row;
}

.chat{
  width: 10%;
  padding: 10px;
  max-height: 100%;
}

.leftWindow{
  max-width: 90%;
}

.gameName {
  text-align: center;
  margin-top: 1%;
  font-size: xx-large;
  font-family: Roboto;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: row;
  padding:10px;
}

.scene {
  height: 480px;
  width: 640px;
  border: 5px dashed transparent;
}

.middleText {
  margin-top: 7%;
  text-align: center;
  font-size: 35px;
}

.timer {
  text-align: center;
  color: rgb(243, 44, 44);
  font-size: 45px;
  font-family: Orbitron, serif;
}

.disabled {
  cursor: not-allowed;
}

#originalCanvasMessage {
  position: absolute;
  width: 640px;
  height: 480px;
}

#modifiedCanvasMessage {
  position: absolute;
  width: 640px;
  height: 480px;
}
#endGameMessage {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 600px;
  height: 400px;
}
