<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<div class="general" appFPControlEvent (contextmenu)="onRightClick($event)">
  <div class="separation">
    <div class="leftWindow">
      <div>
        <button mat-raised-button color="accent" class="button back-button" routerLink="/{{BACK_BUTTON_ROUTE}}">Retour à la liste de jeux</button>
        <h1 class = "gameName">{{gameName}}</h1>
      </div>
      <div class="timer"><app-timer [gameName] = "gameName"
                                    [gameType] = "FREE_GAME_TYPE"></app-timer></div>
      <div class = "row" [class.disabled]="!cursorEnabled">
        <div class= "scene" (click)="onDivContClick($event)" #originalView>
          <canvas id="originalCanvasMessage" #originalCanvas></canvas>
        </div>
        <div class= "scene" (click)="onDivContClick($event)" #modifiedView>
          <canvas id="modifiedCanvasMessage" #modifiedCanvas></canvas>
        </div>
      </div>
    </div>
    <div class="chat">
      <app-message-box></app-message-box>
    </div>
  </div>
</div>
