<div class="global">
  <div class="window">
    <div class = "row">
      <div>
        <img src="../../assets/images/logo.PNG" alt="Logo_jeu"/>
      </div>
      <div class="rightWindow">
        <h1>Bienvenue {{username}} !</h1>
        <h2>Met à jour ton identifiant:</h2>
        <mat-form-field color="accent">
          <input matInput #message type="text" placeholder="Identifiant" maxlength="10" class="username" [(ngModel)]="newUsername" required>
          <mat-hint align="start"><strong>4 à 10 caractères</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}}/10</mat-hint>
          <button mat-button *ngIf="newUsername" matSuffix mat-icon-button aria-label="Clear" (click)="newUsername=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <h3 style='color:red'>{{errorMessage}}</h3>
        <nav>
          <button mat-raised-button color="primary" class="button" (click)="updateUsername()">Commencer</button>
          <button mat-raised-button color="primary" class="button" id=#stars (click)="changeBackground()">Changer fond d'écran</button>
        </nav>
      </div>
    </div>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </div>
</div>

