.window{
    width: 700px;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color:#3F51B5;
    padding: 30px;
}

.global{
  padding-top: 5%;
  height: 80%;
}

.row {
    display: flex;
    flex-direction: row;
}

.example-form {
    min-width: 250px;
    max-width: 600px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.title{
    color: white;
    text-align: center;
}

.button{
    display: inline-block;
    margin-right: 35px;
    border: 1px black solid;
}

.rightWindow{
  margin: auto;
}

.errorMessage{
  color: darkred;
  max-width: 250px;
}

.username{
  min-width: 250px;
}

#stars{
  background-image: url("../../assets/images/space.jpg");
  background-position: center;
}

.buttonRow{
    margin-right:35px;
    display: flex;
    flex-direction: row;
}

img{
  width: 200px;
  padding-right: 30px;
  border-right: 1px black solid;
}
