<div class="container">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="originalImage">Original Image</label>
      <input type="file" class="form-control" id="originalImage" accept="images/bmp" required>
    </div>

    <div class="form-group">
      <label for="modifiedImage">Modified Image</label>
      <input type="file" class="form-control" id="modifiedImage" accept="images/bmp" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
