<form name="creat-game-form" [formGroup]="formDoc" novalidate ng-submit="creat-game-form.$valid">

  <mat-form-field hintLabel="Max 15 charactères" id="name">
    <input matInput #input required maxlength="15" placeholder="Nom de la partie" formControlName="name">
    <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
    <mat-error *ngIf="formDoc.get('name').hasError('minlength')">
      Minimum de 5 charactères
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <ngx-mat-file-input accept="image/bmp" formControlName="originalImage" placeholder="Obligatoire" valuePlaceholder="Image Originale"
      required>
    </ngx-mat-file-input>
    <mat-icon matSuffix>image</mat-icon>
    <mat-error *ngIf="formDoc.get('originalImage').hasError('required')">
      Please select a file
    </mat-error>
    <mat-error *ngIf="false">
      The total size must not exceed {{formDoc.get('originalImage')?.getError('maxContentSize').maxSize | byteFormat}}
      ({{formDoc.get('originalImage')?.getError('maxContentSize').actualSize
      | byteFormat}}).
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <ngx-mat-file-input accept="image/bmp" formControlName="modifiedImage" placeholder="Obligatoire" valuePlaceholder="Image Modifiée"
      required></ngx-mat-file-input>
    <mat-icon matSuffix>image</mat-icon>
    <mat-error *ngIf="formDoc.get('modifiedImage').hasError('required')">
      Please select a file
    </mat-error>
    <mat-error *ngIf="false">
      The total size must not exceed {{formDoc.get('modifiedImage')?.getError('maxContentSize').maxSize | byteFormat}}
      ({{formDoc.get('modifiedImage')?.getError('maxContentSize').actualSize
      | byteFormat}}).
    </mat-error>
  </mat-form-field>
  <div>
    <button type="submit" mat-button [disabled]="!formDoc.valid">Envoyer</button>
    <button type="reset" mat-button color="warn" (click)="revert()">Annuler</button>
  </div>
</form>