<div class="adminOptions" unloadevent >
  <div class="topInfo">
    <div>
      <button mat-raised-button color="accent" class="button back-button" routerLink="/{{HOME_BUTTON_ROUTE}}">
        <mat-icon>home</mat-icon>
        Accueil
      </button>
      <div class = "Admin">
        Administrateur
      </div>
    </div>
    <div>
      <button mat-raised-button class="gameCreationButton" (click) = "createSimpleGame()">Creation de jeu simple</button>
      <button mat-raised-button class="gameCreationButton" (click) = "create3DGame()">Creation de jeu 3D</button>
    </div>
  </div>
  <div class="liste">
    <app-game-list [rightButton]="rightButton"
                   [leftButton]="leftButton">

    </app-game-list>
  </div>
</div>

