.gameCreationButton{
    background-color: #B8B8C6;
    border: none;
    width: 50%;
    height: 50px;
    color: black;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}

.gameCreationButton:hover{
    background-color: #373745;
    color: white;
}

.topInfo{
  z-index: 10;
  position: fixed;
  width: 100%;
}

.liste{
  padding-top: 85px;
}
.Admin{
    font-size: 25px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 35px;
    color: white;
    background-color: black;
    padding-left: 10px;
    text-align : center;
}

.adminOptions{
    top:0;
    width: 100%;
}



