.gameCreationButton{
    background-color: #3F51B5;
    border: none;
    width: 50%;
    height: 50px;
    color: white;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
}

.gameCreationButton:hover{
    background-color: darkblue;
}

.Admin{
    font-size: 25px;
  font-family: Roboto;
    height: 35px;
    color: white;
    padding-left: 10px;
    text-align : center;
}

.adminOptions{
    position: fixed;
    width: 100%;
    padding-top: 10px;
    background-color: darkblue;
    z-index: 10;
}

.lineSkip{
    padding-top: 6.2%;
}


