.gameCreationButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center !important;
    display: inline-block;
    font-size: 16px;
    width: 45%;
    margin: 4px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.Admin{
    font-size: 25px;
    padding-left: 10px;
    text-align : center;
}
.adminOptions{
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: skyblue;
    
}
.test{
    padding-top: 9999px
}

