img{
    border-radius: 5px;
    width: 500px;
    height: 376px;
    margin-top: 15px;
    border: 1px grey solid;
}

.scoreTable{
    margin: 25px;
    font-weight: bold;
}

td{
    padding-left: 20px;
    padding-top: 12px;
}

mat-card-title{
  font-weight: bold;
  font-size: x-large;
}

.buttonRow{
    padding-left: 40px;
}

button{
  margin-left: 50px;
}


.card {
  max-width: 500px;
  margin: 30px;
  border: 1px #DDDF92;
}

.twoD {
  background-image: url("../../../assets/images/2d.PNG");
  background-size: cover;
  width: 90px;
  height: 90px;
  }

.threeD {
    background-image: url("../../../assets/images/3d.PNG");
    background-size: cover;
    width: 90px;
    height: 90px;
  }
