
<div class="window">
    <h1>{{title}}</h1>
    <div class="horizontalWindow">
        <div>
            <img src={{image}}>
        </div>
        <div class="scoreTable">
            <table>
                <tr>
                    <td></td>
                    <td>Solo</td>
                    <td>1 vs 1</td>
                </tr>
                <tr>
                    <td>Premier:</td>
                    <td>{{soloScores[0].time}} {{soloScores[0].name}}</td>
                    <td>{{duoScores[0].time}} {{duoScores[0].name}}</td>
                </tr>
                <tr>
                    <td>Deuxieme:</td>
                    <td>{{soloScores[1].time}} {{soloScores[1].name}}</td>
                    <td>{{duoScores[1].time}} {{duoScores[1].name}}</td>
                </tr>
                <tr>
                    <td>Troisième:</td>
                    <td>{{soloScores[2].time}} {{soloScores[2].name}}</td>
                    <td>{{duoScores[2].time}} {{duoScores[2].name}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buttonRow">
        <button mat-raised-button color="primary" class="button">Jouer</button>    
        <button mat-raised-button color="primary" class="button">Créer</button>
    </div>
</div>
