img{
    border-radius: 5px;
    width: 500px;
    height: 376px;
    margin-top: 15px;
    border: 1px grey solid;
}

.scoreTable{
    padding-top: 10px;
}

td{
    padding-left: 20px;
    color: white;
    height: 37px;
    width: 150px;
    border: 1px #272731 solid;
}

.grey{
    background-color: #373745;
}

.black{
    background-color: #272731;
}

.bold{
  font-size: 18px;
}

.title{
  font-weight: bold;
  font-size: 45px;
  color: #272731;
  margin-top: 15px;
}

.buttonRow{
    padding-left: 40px;
}

button{
  margin-left: 50px;
}

.card {
  max-width: 500px;
  margin: 30px;
  border: 1px #DDDF92;
}

.twoD {
  background-color: #3F51B5;
  background-size: cover;
  width: 90px;
  height: 90px;
}

.icon{
  font-size: 50px;
  color: white;
  padding: 15px;
}

.threeD {
    background-color: #FF3C82;
    background-size: cover;
    width: 90px;
    height: 90px;
  }
