
<div class="window">
    <h1>{{title}}</h1>
    <div class="horizontalWindow">
        <div>
            <img src={{image}} >
        </div>
        <div class="scoreTable">
            <table>
                <tr>
                    <td></td>
                    <td>Solo</td>
                    <td>1 vs 1</td>
                </tr>
                <tr>
                    <td>Premier:</td>
                    <td>{{soloScores[0]}} {{soloNames[0]}}</td>
                    <td>{{duoScores[0]}} {{duoNames[0]}}</td>
                </tr>
                <tr>
                    <td>Deuxieme:</td>
                    <td>{{soloScores[1]}} {{soloNames[1]}}</td>
                    <td>{{duoScores[1]}} {{duoNames[1]}}</td>
                </tr>
                <tr>
                    <td>Troisième:</td>
                    <td>{{soloScores[2]}} {{soloNames[2]}}</td>
                    <td>{{duoScores[2]}} {{duoNames[2]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buttonRow">
        <button mat-raised-button color="primary" class="button">Jouer</button>    
        <button mat-raised-button color="primary" class="button">Créer</button>
    </div>
</div>
