.window{
    width:700px;
    background-color: lightblue;
    padding: 20px;
    min-height: 365px;
    max-height: 365px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid darkblue;
    border-radius: 25px;
}

h1{
    text-align: center;
}

.horizontalWindow{
    display: flex;
    flex-direction: row;
}

img{
    border: 5px solid darkblue;
    width: 350px;
    height: 263px;
    margin: auto;
    margin-top: 15px;
}

.scoreTable{
    margin: 25px;
    font-weight: bold;
}

td{
    padding-left: 20px;
    padding-top: 12px;
}

.buttonRow{
    margin-left: 40%;   
    margin-right:35px;
    display: flex;
    flex-direction: row;
}

.button{
    display: inline-block;
    margin-right: 35px;
    border: 1px darkblue solid;
}

.example-card {
  max-width: 600px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
