<div id="content" style="text-align: center">
  <h3 class="text">Relaxez dans cette salle en attendant votre adversaire</h3>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
          frameborder="0" height="720"
          src="https://www.youtube-nocookie.com/embed/8WQVb_nuKvs" width="1280"></iframe>
  <div>
    <button mat-raised-button color="primary" (click)="navigateGameList()">
      Cliquer ici pour revenir à la liste des parties!
    </button>
  </div>
</div>
