<div id="content" style="text-align: center">
  <p>Relaxez dans cette salle en attendant votre adversaire</p>
  <p>Youtube vous propose du Bob Marley</p>
  <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" height="315"
          src="https://www.youtube-nocookie.com/embed/8WQVb_nuKvs" width="560"></iframe>
  <div>
    <button mat-raised-button color="primary" (click)="navigateGameList()">
      Cliquer ici pour revenir à la liste des parties!
    </button>
  </div>
</div>
