<form name="creat-game-form" [formGroup]="formDoc" novalidate (ngSubmit)="onSubmit()">

  <mat-form-field hintLabel="Max 15 charactères" id="name">
    <input required matInput #input maxlength="15" placeholder="Nom de la partie" formControlName="name">
    <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
    <mat-error *ngIf="formDoc.get('name').hasError('minlength')">
      Minimum de 5 charactères
    </mat-error>
  </mat-form-field>

  <section class="example-section">
    <h3>Types d'objets dans la scène</h3>
      <mat-checkbox
        *ngFor="let objType of objectTypes"
        class="example-margin"
        (change)="onChange($event, 'objectTypes', objType.value)"
      >
        {{objType.viewValue}}
      </mat-checkbox>
  </section>

  <mat-slider 
    thumbLabel
    min="10"
    max="200"
    step="1"
    value="10">
  </mat-slider>

  <section class="example-section">
      <h3>Types de modifications dans la scène</h3>
      <mat-checkbox 
        *ngFor="let modType of modTypes"
        class="example-margin"
        ng-required="checkboxes['modificationTypes'].size===0"
        (change)="onChange($event, 'modificationTypes', modType.value)"
      >
        {{modType.viewValue}}
      </mat-checkbox>
  </section>

  

  <div>
    <button id="form-submit" type="form-submit" name="submit" mat-button
      [disabled]="!formDoc.valid || disableButton">Envoyer</button>
    <button id="form-reset" type="reset" mat-button color="warn" (click)="exit()">Annuler</button>
  </div>
</form>