<form name="creat-game-form" [formGroup]="formDoc" novalidate (ngSubmit)="onSubmit()">
  <h2>Créer une partie libre</h2>
  <mat-form-field hintLabel="Max 15 charactères" id="name">
    <input required matInput #input maxlength="15" placeholder="Nom de la partie" formControlName="name">
    <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
    <mat-error *ngIf="formDoc.get('name').hasError('minlength')">
      Minimum de 5 charactères
    </mat-error>
  </mat-form-field>

  <mat-form-field id="themes">
    <mat-select placeholder="Types de scène" formControlName="theme">
      <mat-option *ngFor="let theme of themes" [value]="theme.value">
        {{theme.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <section class="example-section">
    <h3>Nombre d'objets dans la scène</h3>
    <span> Valeur : {{ matslider.value }} </span>
    <mat-slider #matslider thumbLabel min="10" max="200" step="1" value="30" (change)="onSliderChange($event)">
    </mat-slider>
    <div *ngIf="matslider.value>99">
      <mat-hint align="end">
        Ralentissement possible pour certains systèmes
      </mat-hint>
    </div>
  </section>

  <section class="example-section">
    <h3>Types de modifications dans la scène</h3>
    <mat-error *ngIf="checkboxes['modificationTypes'].size === 0">
      Choisir au minimum une option
    </mat-error>
    <mat-checkbox *ngFor="let modType of modTypes" class="example-margin"
      ng-required="checkboxes['modificationTypes'].size===0"
      (change)="onCheckboxChange($event, modType.value)">
      {{modType.viewValue}}
    </mat-checkbox>
  </section>



  <div>
    <button mat-raised-button id="form-submit" type="form-submit" name="submit" color="primary"
            class="button" [disabled]="isFormInvalid()">Envoyer</button>
    <button mat-raised-button id="form-reset" type="reset" color="accent" class="button" (click)="exit()">Annuler</button>
  </div>
</form>
