<div class="general">
  <div class="separation">
    <div class="leftWindow">
      <div>
        <button mat-raised-button color="warn" class="button back-button" routerLink="/{{BACK_BUTTON_ROUTE}}">Retour à la Liste de jeux</button>
        <h1 class = "gameName">{{gameName}}</h1>
      </div>
      <div class="centered">
        <app-timer class="timer" [gameName] = "gameName"
                   [gameType]= "gameType"></app-timer>
      </div>
      <app-simple-game-container [originalImage]="originalImage"
      [modifiedImage]="modifiedImage"></app-simple-game-container>
    </div>
    <div class="chat">
      <app-message-box></app-message-box>
    </div>
  </div>
</div>
