<div class="general">
  <div class="separation">
    <div class="leftWindow">
      <h1 class="gameName">{{gameName}}</h1>
      <div class="centered">
        <app-timer class="timer" [gameName] = "gameName"
                   [gameType]= "gameType"></app-timer>
      </div>
      <app-simple-game-container [originalImage]="originalImage"
      [modifiedImage]="modifiedImage"></app-simple-game-container>
    </div>
    <div class="chat">
      <app-message-box></app-message-box>
    </div>
  </div>
</div>
